
<div>
  <table>
    <thead>
      <tr>
        <th>Num of Products</th>
        <th>Num of Categories</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @product_count %></td>
        <td><%= @category_count %></td>
      </tr>
    </tbody>
  </table>
</div>

